@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px auto 60px;
  gap: 10px;
  grid-template-areas:
    "header    header"
    "sidebar  content"
    "footer   footer";
}
ul {
  display: flex;
  gap: 1rem;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ff9f43;
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  background-color: #0abde3;
}

.content {
  grid-area: content;
  background-color: #10ac84;
}

.footer {
  grid-area: footer;
  background-color: #ee5253;
}

/* .container > * {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
} */
